@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Prompt',sans-serif;
}

body{
    height:100vh;
    overflow:hidden;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#071428,#0f4c81,#2563eb,#60a5fa);
    background-size:400% 400%;
    animation:bgMove 12s ease infinite;
}

@keyframes bgMove{
    0%{background-position:0% 50%;}
    50%{background-position:100% 50%;}
    100%{background-position:0% 50%;}
}

.background{
    position:fixed;
    inset:0;
    overflow:hidden;
}

.circle{
    position:absolute;
    border-radius:50%;
    filter:blur(60px);
    opacity:.35;
    animation:float 12s ease-in-out infinite;
}

.c1{
    width:320px;
    height:320px;
    background:#38bdf8;
    top:-80px;
    left:-80px;
}

.c2{
    width:260px;
    height:260px;
    background:#8b5cf6;
    bottom:-70px;
    right:-70px;
    animation-delay:2s;
}

.c3{
    width:220px;
    height:220px;
    background:#ffffff;
    top:45%;
    left:65%;
    opacity:.15;
    animation-delay:4s;
}

@keyframes float{
    0%,100%{
        transform:translateY(0) scale(1);
    }
    50%{
        transform:translateY(-30px) scale(1.1);
    }
}

.login-card{
    position:relative;
    z-index:2;
    width:400px;
    max-width:92%;
    padding:45px;
    border-radius:28px;
    text-align:center;

    background:rgba(255,255,255,.12);
    backdrop-filter:blur(22px);

    border:1px solid rgba(255,255,255,.25);

    box-shadow:
    0 20px 60px rgba(0,0,0,.35);
}

.login-card h1{
    color:#fff;
    font-size:38px;
    margin-bottom:10px;
}

.login-card p{
    color:#dbeafe;
}

input{
    width:100%;
    height:56px;
    margin-top:30px;
    border:none;
    outline:none;
    border-radius:16px;
    padding:0 18px;
    font-size:16px;
    background:rgba(255,255,255,.18);
    color:white;
}

input::placeholder{
    color:#e5e7eb;
}

button{
    width:100%;
    height:56px;
    margin-top:18px;
    border:none;
    border-radius:16px;
    cursor:pointer;
    font-size:18px;
    font-weight:700;

    color:#2563eb;
    background:white;

    transition:.3s;
}

button:hover{
    transform:translateY(-4px);
    box-shadow:0 15px 35px rgba(37,99,235,.35);
}

.footer{
    margin-top:25px;
    font-size:13px;
    opacity:.75;
}
